In [13]:
import  pandas as pd

df=pd.read_csv("car (1).data",names=['buying','maint','doors','person','lug_boot','safty','class'])
df.head()

  buying  maint doors person lug_boot safty  class
0  vhigh  vhigh     2      2    small   low  unacc
1  vhigh  vhigh     2      2    small   med  unacc
2  vhigh  vhigh     2      2    small  high  unacc
3  vhigh  vhigh     2      2      med   low  unacc
4  vhigh  vhigh     2      2      med   med  unacc

In [14]:
k={'2':2,'3':3,'4':4,'5':5,'more':6,'5more':6}
df['doors']=df['doors'].map(k)
df['person']=df['person'].map(k)

In [15]:
d={'vhigh':4,'high':3,'med':2,'low':1}
df['buying']=df['buying'].map(d)
df['maint']=df['maint'].map(d)
df['lug_boot']=df['lug_boot'].map({'small':1,'med':2,'big':3})
df['safty']=df['safty'].map({'low':1,'med':2,'high':3})
df['class']=df['class'].map({'unacc':4,'acc':3,'good':2,'vgood':1})
df.head(15)

    buying  maint  doors  person  lug_boot  safty  class
0        4      4      2       2         1      1      4
1        4      4      2       2         1      2      4
2        4      4      2       2         1      3      4
3        4      4      2       2         2      1      4
4        4      4      2       2         2      2      4
5        4      4      2       2         2      3      4
6        4      4      2       2         3      1      4
7        4      4      2       2         3      2      4
8        4      4      2       2         3      3      4
9        4      4      2       4         1      1      4
10       4      4      2       4         1      2      4
11       4      4      2       4         1      3      4
12       4      4      2       4         2      1      4
13       4      4      2       4         2      2      4
14       4      4      2       4         2      3      4

In [16]:
features=['buying','maint','doors','person','lug_boot','safty']
labels=['class']

In [17]:
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np

feat=np.array(df[features].values)
labl=np.array(df[labels].values)

scaler=preprocessing.StandardScaler()
feat=scaler.fit_transform(feat)

x_train,x_test,y_train,y_test =train_test_split(feat,labl,test_size=0.2)

In [18]:
from sklearn import neighbors
import pickle
best=0

for _ in range(30):
    x_train,x_test,y_train,y_test =train_test_split(feat,labl,test_size=0.2)
    knn_=neighbors.KNeighborsClassifier(n_neighbors=15)

    knn_.fit(x_train,y_train)
    acc=knn_.score(x_test,y_test)
    print(acc)
    if acc>best:
        best=acc
        with open("car_classfication.pickle","wb") as f:
            pickle.dump(knn_,f)
            
            
pickle_in=open("car_classfication.pickle","rb")

knn_=pickle.load(pickle_in)

/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

0.9479768786127167
0.9797687861271677
0.9566473988439307
0.9508670520231214
0.9739884393063584
0.9364161849710982
0.9450867052023122

/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

0.9479768786127167
0.9595375722543352
0.9421965317919075
0.9508670520231214
0.9595375722543352
0.9710982658959537
0.9479768786127167

/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

0.9595375722543352
0.9566473988439307
0.953757225433526
0.9624277456647399
0.9393063583815029
0.9450867052023122
0.9624277456647399

/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

0.9566473988439307
0.9508670520231214
0.9682080924855492
0.9277456647398844
0.9508670520231214
0.930635838150289
0.953757225433526
0.9710982658959537
0.9393063583815029

/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/home/atri/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [19]:
predt=knn_.predict(x_test)
for i in range(len(predt)):
    if(predt[i]!=y_test[i][0]):
        print(predt[i]," ",scaler.inverse_transform(x_test[i])," ",y_test[i][0])

3   [1. 3. 6. 6. 3. 3.]   1
3   [4. 1. 2. 6. 1. 3.]   4
3   [1. 2. 6. 6. 1. 3.]   2
3   [1. 2. 4. 6. 1. 3.]   2
3   [1. 2. 4. 4. 2. 2.]   2
1   [1. 2. 2. 6. 2. 3.]   2
3   [2. 1. 3. 6. 2. 2.]   2